<h1>
    <%= infoFruits.id %>
    </h1>
    <h3>
    Nom: <%= infoFruits.nom %>
    </h3>
    <h3>
    Preu: <%= infoFruits.preu %>
    </h3>
    <p>
    <%= infoFruits.descripcio %>
    </p>
    <img src = <%=infoFruits.imatge %>>
    </img>