<h1>
    <%= infoClothes.id %>
</h1>
<h3>
    Nom: <%= infoClothes.nom %>
</h3>
<h3>
    Preu: <%= infoClothes.preu %>
</h3>
<p>
    <%= infoClothes.descripcio %>
</p>
<img src=<%=infoClothes.imatge %>>
</img>