<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- A la capçalera no li fa falta cap informació, passem un objecte buit. -->
    <%- include('partials/head'); %>
    <title>Editar Producto</title>
</head>
<body>
    <div class="formulari">
        <header>
            <%- include('partials/header'); %>
        </header>
        
        <form method="post" action="" enctype="multipart/form-data">
            <p>Editar Producto:</p>
            <div class="formRow">Esborrar el producte amb ID: <%= infoFruit.id %>
        </div>
            
            <div class="formRow">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="<%= infoFruit.nom %>" required>
            </div>
            
            <div class="formRow">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" required><%= infoFruit.descripcio %></textarea>
            </div>
            
            <div class="formRow">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="imagen">
            </div>
            
            <div class="formRow">
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" value="<%= infoFruit.preu %>" required>
            </div>
            
            <div class="formRow">
                <input type="submit" value="Guardar Cambios">
            </div>
        </form>
    </div>
</body>
</html>
