<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <div class = "formulari">
        <div class="hd"> 
        <header >
            <%- include('partials/header'); %>
        </header>
    </div>
        <h3>Llista de Productes</h3>
        <form action="edit.ejs" method="get">
        <ul>
            <% products.forEach(products => { %>
                <li><a href="/edit?id=<%= products.id %>"><%= products.id %>- <%= products.nom %></a></li><hr>
            <% }); %>
        </ul>
    </form>
    </div>
</body>

</html>
